body {
    font-family: 'Roboto', sans-serif;
    background-color: #8B0000;
    color: black;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #700101;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    text-align: center;
    position: relative;
}

.header img {
    width: 100%;
    height: 160px;
    max-height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.text-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(19, 19, 19);
}

.text-header h1 {
    font-size: 24px;
    font-weight: bold;
}
.text-header p {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: rgb(155, 155, 155);
}

.text-header h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h3 {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.audio-container {
    text-align: center;
    margin-top: 15px;
}

.audio-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.list-section {
    margin-top: 20px;
    background: #ffF1d7;
    background-size: cover;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.list-section h3 {
    font-size: 18px;
    font-weight: bold;
}

.list-section ul {
    list-style: disc;
    padding-left: 20px;
}

.paragrafo {
    text-indent: 30px;
    margin-bottom: 50px;
}

.why-section {
    margin-top: 20px;
    font-weight: bold;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.images img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.reason {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.continuaction {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.continuaction h3 {
    font-size: 20px;
    font-weight: bold;
}

.continuaction h2 {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.pulo {
    text-indent: 0px;
    margin-bottom: 50px;

}

.ml-4 {
    margin-left: 1rem;
}

.images {
    opacity:0;
    filter: blur(7px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

.images :nth-child(2){
    transition-delay: 400ms;
}

.images :nth-child(3){
    transition-delay: 900ms;
}


.fer {
    opacity:0;
    filter: blur(7px);
    transform: translateX(-100%);
    transition: all 1s;
}

.ive{
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}
